.container-fluid {
    width: 100%;
    padding: 0 20px;
}

.input-group .btn-outline-primary {
    border-color: #2a1a1b;
    color: #2a1a1b;
}

.input-group .btn-outline-primary:hover {
    background: #2a1a1b;
    color: #FDE8BC;
}

.product-details, .ra-area {
    background: white;
    border: 1px solid #2a1a1b; 
}

.btn-group-vertical .btn {
    background: #2a1a1b;
    color: #FDE8BC;
}

.btn-group-vertical .btn:hover {
    background: #FDE8BC;
    color: #2a1a1b;
}

.ra-area {
    position: relative;
    height: 500px; 
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-custom {
    background-color: #ec971f; 
    color: white; 
}

.btn-custom:hover {
    background-color: #d58512; 
}

.btn-custom, .btn-danger, .btn-outline-primary, .btn-secondary {
    color: black; 
}


#viewInAR {
    background-color: #28a745; 
}

#viewInAR:hover {
    background-color: #218838; 
}

